debian/debhelper-build-stamp
debian/files
debian/google-android-platform-24-installer/
debian/google-android-platform-24-installer.debhelper.log
debian/google-android-platform-24-installer.postrm.debhelper
debian/google-android-platform-24-installer.substvars
